.card {
    padding: 1.5rem 1rem;
    margin: 1rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    border: 2px dashed #8b8b8b;
    background-color: #000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 180px;
    min-height: 100px;
}