.filter-settings {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5rem 1rem;
}

.filter-settings > div {
    margin-bottom: 10px;
}

.name-filter-message {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #8b8b8b;
    padding: .4rem 1rem;
}