.character-card {
    cursor: pointer;
    position: relative;
    padding: 1rem;
    margin: 1rem;
    width: 220px;
    height: 320px;
    transition: all .2s ease-in-out;
}

.character-card .logo {
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 200px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
}

.character-card .logo .character-photo {
    position: absolute;
    width: 200px;
    height: 200px;
    transition: all .2s ease-in-out;
}

.character-card-info {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #b6b6b6;
    bottom: 0;
    left: 0;
    right: 0;
    top: 110px;
    background-color: #fff
    ;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.character-card-info .character-name {
    font-family: 'Archivo Black', sans-serif;
    color: #000;
    margin-bottom: 5px;
}

.character-card-footer {
    margin: 1rem 0;
    display: flex;
    justify-content: space-evenly;
}

.character-card:hover {
    transform: translateY(-15px);
}

.character-card:hover .character-photo {
    transform: scale(1.1);
}

.character-card:hover .character-card-info {
    box-shadow: 0px 17px 26px 0px #000;
}