@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

body {
    min-width: 290px;
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.reset-filter-btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background: url(./assets/icons8-close-50.png) no-repeat;
    background-size: 20px 20px;
    background-position: 50%;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.reset-filter-btn:hover {
    background-size: 15px 15px;
}

.error-message {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3rem;
    color: #565656;
    text-align: center;
    padding: 3rem 1rem;
}

.sorting-sort{
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px 70px 0;
    float: right;
}

#sortOrder{
    width: 200px;
    margin-left: 5px;
    height: 30px;
    border: 2px solid #8b8b8b;
    color:#8b8b8b;
    border-radius: 5px;
}

@media (max-width: 1000px) {
    .wrapper {
        margin-top: 135px;
    }
}