.accordion {
    color: #fff;
    border-radius: 10px;
    min-width: 200px;
    width: 200px;
    margin-bottom: 1rem;
}

.header {
    padding: .1rem 1rem;
    text-align: center;
    background-color: #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    font-family: 'Archivo Black', sans-serif;
    text-transform: uppercase;
    margin: 15px 0 10px;
}

.reset-filters-btn {
    font-family: 'Archivo Black', sans-serif;
    color: #B6B6B6;
    border: none;
    background-color: transparent;
    margin: 0 0 15px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.reset-filters-btn:hover {
    color: #B3D24C;
}

@media (max-width: 850px) {
    .accordion {
        width: 100%;
    }
}