@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans&display=swap');

.search-form {
    margin: 2rem auto;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    font-family: 'Josefin Sans', sans-serif;
    padding: .5rem .8rem;
    margin-right: 10px;
    box-sizing: border-box;
    height: 38px;
    width: 80%;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #8b8b8b;
    background-color: transparent;
}

.search-input:focus {
    outline: none;
    border: 2px solid #000000;
}

.search-btn {
    font-family: 'Archivo Black', sans-serif;
    padding: .5rem .8rem;
    height: 38px;
    width: 90px;
    border-radius: 5px;
    border: 2px solid #fff;
    color: #fff;
    background-color: #000000;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.search-btn:hover {
    background-color: #7d1d1d;
}

@media (max-width: 430px) {
    .search-form {
        width: 90%;
    }

    .search-input {
        width: 70%;
    }

    .search-btn {
        display: flex;
        justify-content: center;
        width: 70px;
    }

}